html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--initial-bg-color);
}

.text-center {
    text-align: center;
}

.cursor-pointer {
    cursor: pointer;
}

.transition-opacity {
    transition: opacity 1s ease-in-out;
}

#cookie-img.shiny {
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

#cookie-img.crazy-animation {
    animation: disappear 1s forwards;
}

@keyframes disappear {
    0% { transform: scale(1); opacity: 1; }
    100% { transform: scale(1.5); opacity: 0; }
}

#fortune {
    border-width: 1px;
    border-color: red;
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

#fortune.show {
    opacity: 1;
}

#container.transition-background {
    animation: backgroundChange 1s forwards;
}

@keyframes backgroundChange {
    0% { background-color: var(--initial-bg-color); }
    100% { background-color: #f0e68c; }
}
