html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: var(--initial-bg-color);
}

.cursor-pointer {
    cursor: pointer;
}

.transition-opacity {
    transition: opacity 1s ease-in-out;
}

#cookie-img, .fortune {
    filter: drop-shadow(2px 10px 10px #00000093);
}

#cookie-img.shiny {
    animation: pulse-1 2s infinite;
}

@keyframes pulse-1 {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

@keyframes pulse-2 {
    0% { transform: scale(1); }
    50% { transform: scale(1.03); }
    100% { transform: scale(1); }
}

#cookie-img.crazy-animation {
    animation: disappear 1s forwards;
}

@keyframes disappear {
    0% { transform: scale(1); opacity: 1; }
    100% { transform: scale(2.7) rotate(190deg); opacity: 0; }
}

.fortune {
    border: 2px solid red;
    padding: 1.5em 2.0em;
    background-color: #f4f5f6;
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.fortune.show {
    opacity: 1;
    animation: pulse-2 4s infinite;
}

.fortune img {
    width: 50%;
}
