html, body {
    height: 100%;
    margin: 0;
    /* background-color: var(--initial-bg-color); */
    background: radial-gradient(circle, rgb(127, 7, 175) 0%, rgb(9, 62, 96) 100%);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Horizontal center */
    align-items: center; /* Vertical center */
    height: 100vh; /* Full viewport height */
}

.cursor-pointer {
    cursor: pointer;
}

.cookie img {
    width: clamp(200px, 30%, 600px);
    filter: drop-shadow(2px 10px 10px #00000093);
    animation: pulse-1 2s infinite;
}

.cookie img.disappear-animation {
    animation: disappear 1s forwards;
}

.message {
    display: none; /* Hide message by default */
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.5em 2.0em;
    background-color: #f4f5f6;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    border: 5px solid rgba(0, 0, 0, 0.075);
    filter: drop-shadow(2px 10px 10px #00000093);
    border-radius: 0.4em;
}

.message img {
    aspect-ratio: 1 / 1;
    margin: 0 1em 1em 1em;
    border-radius: 0.4em;
    border: 3px solid rgba(0, 0, 0, 0.202);
}

.message.show {
    display: flex; /* Show message when .show class is added */
    opacity: 1;
    animation: pulse-2 10s infinite;
}

.message h1,
.message span,
.message p {
    color: #333;
}

.message p a {
    text-decoration: none;
}

.message p a:hover {
    text-decoration: underline;
}

.message span {
    font-size: 1.4rem;
}

@media (min-width: 576px) {
    .message {
        display: block;
        text-align: center;
    }

    .message img {
        width: 80%;
    }
}

@media (min-width: 768px) {
    .message {
        display: flex;
        justify-content: center;
        text-align: left;
    }

    .message img {
        width: 40%;
    }
}


/* Keyframes for animations */
@keyframes pulse-1 {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

@keyframes pulse-2 {
    0% { transform: scale(1); }
    50% { transform: scale(1.03); }
    100% { transform: scale(1); }
}

@keyframes disappear {
    0% { transform: scale(1); opacity: 1; }
    100% { transform: scale(1.7) rotate(190deg); opacity: 0; }
}
