html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(40deg, rgb(127, 7, 175) 0%, rgb(9, 62, 96) 100%);    
}

.container {
    display: flex;
    opacity: 0.9;    
    margin: 0 auto;
    justify-content: center; /* Horizontal center */
    align-items: center; /* Vertical center */
    height: 80vh; /* Full viewport height */
    transition: height 0.5s ease, opacity 0.5s ease;
}

.cursor-pointer {
    cursor: pointer;
}

.cookie img {
    filter: drop-shadow(2px 10px 10px #00000093);
    animation: pulse-1 2s infinite;
}

.cookie img.disappear-animation {
    animation: disappear 1s forwards;
}

.message {
    width: 40%;
    display: none; /* Hide message by default */
    justify-content: center;
    align-items: center;
    text-align: center;    
    
    opacity: 0;
    transition: opacity 1s ease-in-out;
    border-radius: 0.4em;
}

.message img {
    border-radius: 0.4em;
    border: 3px solid rgba(0, 0, 0, 0.202);
}

.message h1 {
    font-size: 2.5rem;
    margin-bottom: 0.4em;
}

.message.show {
    display: flex; /* Show message when .show class is added */
    opacity: 1;
    animation: pulse-2 10s infinite;
}

.message h1,
.message span,
.message p {
    color: #e6dfdf;
}

.message p a {
    text-decoration: none;
}

.message p a:hover {
    text-decoration: underline;
}

.message span {
    font-size: 1.4rem;
}


/* Keyframes for animations */
@keyframes pulse-1 {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

@keyframes pulse-2 {
    0% { transform: scale(1); }
    50% { transform: scale(1.03); }
    100% { transform: scale(1); }
}

@keyframes disappear {
    0% { transform: scale(1); opacity: 1; }
    100% { transform: scale(1.7) rotate(190deg); opacity: 0; }
}
